<h3>Create New FAQ Entry</h3>

<div class="overlay" *ngIf="isLoading">
    <div class="spinner-wrapper">
        <app-spinner></app-spinner>
    </div>
</div>

<form #faqForm="ngForm" (ngSubmit)="onSubmit()" [class.blurred]="isLoading" class="form-container">
    <h4>FAQ Information</h4>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Order</mat-label>
            <input matInput size="2" maxlength="2" [(ngModel)]="faq.order" name="faq.order">
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="faq.categoryId" name="faq.categoryId">
                <mat-option *ngFor="let option of category" [value]="option.value">
                    {{ option.text }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Question</mat-label>
            <textarea matInput cols="40" rows="5" [(ngModel)]="faq.question" name="faq.question" style="resize: none;"></textarea>
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Answer</mat-label>
            <textarea matInput cols="40" rows="5" [(ngModel)]="faq.answer" name="faq.answer" style="resize: none;"></textarea>
        </mat-form-field>
    </div>
    
    <button type="submit" class="menu-button">Create</button>
</form>
