.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px 10px;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px 10px;
}

.category-card {
    background-color: #1976d2;
    color: white;
    width: 25%;
    margin: 25px;
}