<div class="overlay" *ngIf="isLoading">
    <div class="spinner-wrapper">
        <app-spinner></app-spinner>
    </div>
</div>

<div class="header-container">
    <mat-form-field style="width: 50%;">
        <mat-label>What do you want to find</mat-label>
        <input matInput [(ngModel)]="query">
    </mat-form-field>
    <button mat-button color="primary" (click)="onClickSearch()"><mat-icon>search</mat-icon></button>
</div>

<ng-container *ngIf="faqs | async as faqData">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let data of faqData.documents">
            <mat-expansion-panel-header>
                <mat-panel-title style="width: 1%; flex-grow: 0.5;">
                    Question
                </mat-panel-title>
                <mat-panel-description>
                    {{  data.question }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-panel-title style="width: 1%; flex-grow: 0.5;">
                Answer
            </mat-panel-title>
            <mat-panel-description>
                {{ data.answer }}
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="width: 100%; display: flex; margin: 25px 15px;">
        <ng-container *ngIf="faqData.documents.length > 0 && faqData.aggregates as aggregates; else elseBlock">
            <mat-card *ngFor="let aggregate of aggregates" class="category-card">
                {{ aggregate.categoryName }} ({{ aggregate.docCount }} Items)
            </mat-card>
        </ng-container>
        <ng-template #elseBlock>
            <mat-card class="category-card">
                General
            </mat-card>
            <mat-card class="category-card">
                Flora & Fauna
            </mat-card>
        </ng-template>
    </div>
</ng-container>