<ng-container *ngIf="menu as menuList; else elseBlock">
    <div *ngFor="let menuItem of menuList">
        <button class="menu-button" (click)="goTo(menuItem.path)">
            {{ menuItem.name }}
        </button>
    </div>
</ng-container>
<ng-template #elseBlock>asdsadasdsadasd</ng-template>